.navbar {
position: sticky;
top: 0;
background-color: darkTurquoise;
padding: 10px;
z-index: 1000;
border-radius: 0px 0px 70px 70px;
}

.navbart {
color: white;
font-size: 50px;
font-weight: bold;
text-align: center;
}

.navbartt {
color: white;
font-size: 45px;
font-weight: bold;
text-align: center;
}

.navbarli {
color: white;
display: inline;
list-style: none;
padding: 4px 35px 4px 35px; 
font-size: 38px;
position: center; 
}

body{
background-color: white;
margin-left: 25px;
}

p {
font-size: 38px;
padding: 0px, 5px, 0px, 5px;
}

.rezept {
font-size: 38px;
display: inline;
width: 90%;
}

img {
width: 50%;  
}
